<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Orders</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/admin_dashboard.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/order_list.css}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
</head>
<body>

<div class="grid-container">

    <header class="header">
        <div class="menu-icon" onclick="openSidebar()">
            <span class="material-icons-outlined">menu</span>
        </div>
        <div class="main-title">
            <h2>Order List</h2>
        </div>

    </header>

    <aside id="sidebar">

        <div class="sidebar-title">
            <img th:src="@{/images/man.png}" height="40px" width="40px" alt="">
            <h4 class="profile-text" th:text="${info.getName()}"></h4>
            <span class="material-icons-outlined" onclick="closeSidebar()">close</span>
        </div>

        <ul class="sidebar-list">
            <li class="sidebar-list-item">
                <a th:href="@{/admin/dashboard}">Dashboard</a>
            </li>
            <li class="sidebar-list-item">
                <a th:href="@{/admin/order-list}">Order List</a>
            </li>
            <li class="sidebar-list-item">
                <a th:href="@{/admin/user-list}">User List</a>
            </li>
            <li class="sidebar-list-item">
                <a th:href="@{/admin/add-books}">Add Books</a>
            </li>
            <li class="sidebar-list-item">
                <a th:href="@{/admin/books-list}">Books List</a>
            </li>
            <li class="sidebar-list-item">
                <a th:href="@{/admin/queries}">Query Section</a>
            </li>
            <li class="sidebar-list-item">
                <a th:href="@{/admin/settings}">Settings</a>
            </li>
            <li class="sidebar-list-item">
                <a th:href="@{/logout}">Logout</a>
            </li>
        </ul>
    </aside>

    <!--Main-->
    <main class="main-container">
        <div class="order-table">
            <form>
                <table class="content-table">
                    <thead>
                    <tr>
                        <th>Book Name</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Total Amount</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Any Book</td>
                        <td>1</td>
                        <td>4000</td>
                        <td>4000</td>
                        <td>
                            <fieldset data-role="controlgroup">
                                <label for="Confirm">Confirming</label>
                                <input type="checkbox" name="favcolor" id="red" value="red" checked>
                                <label for="Ongoing">Ongoing</label>
                                <input type="checkbox" name="favcolor" id="green" value="green">
                                <label for="Delivered">Delivered</label>
                                <input type="checkbox" name="favcolor" id="blue" value="blue" checked>
                            </fieldset>
                        </td>
                        <td><button type="submit">Delete</button></td>
                    </tr>
                    <tr>
                        <td>Any Book</td>
                        <td>1</td>
                        <td>4000</td>
                        <td>4000</td>
                        <td>
                            <fieldset data-role="controlgroup">
                                <label for="Confirm">Confirming</label>
                                <input type="checkbox" name="favcolor" id="red" value="red" checked>
                                <label for="Ongoing">Ongoing</label>
                                <input type="checkbox" name="favcolor" id="green" value="green">
                                <label for="Delivered">Delivered</label>
                                <input type="checkbox" name="favcolor" id="blue" value="blue" checked>
                            </fieldset>
                        </td>
                        <td><button type="submit">Delete</button></td>
                    </tr>
                    <tr>
                        <td>Any Book</td>
                        <td>1</td>
                        <td>4000</td>
                        <td>4000</td>
                        <td>
                            <fieldset data-role="controlgroup">
                                <label for="Confirm">Confirming</label>
                                <input type="checkbox" name="confirming" id="confirm" value="confirming" checked>
                                <label for="Ongoing">Ongoing</label>
                                <input type="checkbox" name="checkbox" id="ongoing" value="Ongoing">
                                <label for="Delivered">Delivered</label>
                                <input type="checkbox" name="delivered" id="delivered" value="delivered" checked>
                            </fieldset>
                        </td>
                        <td><button type="submit">Delete</button></td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </main>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.35.5/apexcharts.min.js"></script>
<script type="text/javascript" th:src="@{/javascript/admin_dashboard.js}"></script>
</body>
</html>
